/* Estilos del contenedor de la página, (basado en index.css) */
.page-container {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;  
}

/* Estilo del título (basado en index.css) */
.page-title {
    font-size: 3.2em;
    line-height: 1.1;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.87);
}

/* Estilos específicos para la cuadrícula de Colección */
.playlist-grid {
    display: grid;
    
    /* Crea una cuadrícula con columnas que miden un mínimo de 200px.
        Se ajustarán automáticamente según el ancho de la pantalla.
    */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px; /* Espacio entre las tarjetas */
}

/* --- Estilos para el botón de Volver --- */
.page-actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    margin-top: 200px;
    gap: 20px;
}

.btn-primary,
.btn-secondary {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.25s;
    
    /* Estilos del botón verde */
    background-color: #01FF95;
    color: #000000; 
    border-color: #01FF95;
    text-decoration: none;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #00e084; 
    border-color: #00e084;
}