.releases-section {
  margin-bottom: 0; 
  margin-top: 0;
  padding: 0 24px 64px 24px;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.albums-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media (min-width: 576px) {
  .albums-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .albums-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 992px) {
  .section-subtitle {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .albums-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1440px) {
  .albums-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 575px) {
  .section-subtitle {
    font-size: 18px;
  }
  
  .albums-grid {
    gap: 12px;
  }
}